:root {
  --bg-color: rgb(14, 51, 94);
  --primary-color: rgb(210, 181, 65);
  --secondary-color: rgb(54, 127, 56);

  --connect-btn-color: rgb(54, 127, 56);
  --disconnect-btn-color: rgb(194, 36, 36);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease 0.2s;
}

body {
  width: 100%;
  height: 100vh;

  background-color: var(--bg-color);
}

header {
  display: flex;
  
  justify-content: center;
  align-items: center;

  height: 10vh;
}

header form {
  display: flex;
  
  justify-content: center;
  align-items: center;

  gap: 10px;
}

main {
  display: flex;
  color: var(--primary-color);

  width: 100%;
  height: 100%;

  display: flex;

  justify-content: center;
  align-items: center;
}

header button {
  border: solid white 2px;
  border-radius: 0.6em;
  
  padding: 2%;
  
  font-weight: bold;

  background-color: transparent;
  color: white;
}

#connect-btn {
  border-color: var(--connect-btn-color);
  color: var(--connect-btn-color);
}

header button:active{
  transform: scale(0.8);
}

#connect-btn:hover {
  background-color: var(--connect-btn-color);
  color: var(--bg-color);
}

#disconnect-btn {
  border-color: var(--disconnect-btn-color);
  color: var(--disconnect-btn-color);
}

#disconnect-btn:hover {
  background-color: var(--disconnect-btn-color);
  color: var(--bg-color);
}

#message-content {
  font-size: larger;
}