:root {
  --bg-color: rgb(14, 51, 94);
  --primary-color: rgb(210, 181, 65);
  --secondary-color: rgb(54, 127, 56);

  --connect-btn-color: rgb(54, 127, 56);
  --disconnect-btn-color: rgb(194, 36, 36);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease 0.2s;
}

header {
  display: flex;

  width: 100%;
  height: fit-content;

  background-color: var(--primary-color);

  justify-content: center;

  padding: 2%;
}

header > #utils {
  display: flex;
  justify-content: center;

  width: 40%;

  padding: 1%;

  background-color: var(--bg-color);
  border-radius: 100px;
}

header > #utils > #url-input {
  background-color: transparent;
  color: var(--primary-color);

  border: solid var(--primary-color) 2px;
}

header > #utils > button,
header > #utils > input {
  background-color: transparent;

  border: solid, 2px, black;
  border-radius: 10px;

  padding: 2%;

  font-weight: bolder;
}

header > #utils > #connect-btn:hover {
  background-color: var(--connect-btn-color);
  color: var(--bg-color);
}
header > #utils > #disconnect-btn:hover {
  background-color: var(--disconnect-btn-color);
  color: var(--bg-color);
}

header > #utils > #disconnect-btn {
  background-color: transparent;
  color: var(--disconnect-btn-color);

  border-color: var(--disconnect-btn-color);
}

header > #utils > #connect-btn {
  background-color: transparent;
  color: var(--connect-btn-color);

  border-color: var(--connect-btn-color);
}

main {
  width: 100%;
  height: 100vh;
  display: flex;

  align-items: center;

  background-color: var(--bg-color);
}

main > #map {
  display: grid;
  
}
